html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    user-select: none; /* Prevents text and elements from being selected */
    -webkit-touch-callout: none; /* Prevents callout, like the long-press menu */
    -webkit-user-select: none; /* Prevents text selection on iOS */
    -webkit-tap-highlight-color: transparent; /* Prevents the blue highlight on touch */
}

body {
    background: url('./img/koyuki_background.png') center center repeat;
    background-size: contain;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bgm-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9999; /* Ensures the icon is on the top layer */
}

#bgm-icon {
    width: 36px;
    height: 36px;
}

img.icon {
    position: absolute;
    width: 120px;
    height: 120px;
    transform: translate(-50%, -50%);
}
